@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@import "tailwindcss";


@theme {
  --font-body: "Josefin Sans";
  --font-speciol: "Roboto";

  --color-brown: "#53423e";
  --color-lightBrown: "#645550";
  --color-darkBrown: "#2c2523";
  --color-black: "#1e1917";
  --color-white: "#f1e1d9";
  --color-cyan: "#15d1e9";
  --color-lightCyan: "#88e5f0";
  --color-darkCyan: "#009fb3";
  --color-orange: "#fb9718";
  --color-lightOrange: "#fac27b";
  --color-darkOrange: "#d28422";
  --color-gray: "#626965";
  --color-lightGray: "#978580";
  --color-darkGray: "#3f4441";
}


